/daar_library/daar_library/__pycache__/
/daar_library/library/__pycache__/
/daar_library/__pycache__/
/daar_library/*.pyc
/daar_library/*.pyo
/daar_library/*.pyd
/daar_library/.mypy_cache/
/daar_library/.pytest_cache/
/daar_library/.venv/
/daar_library/env/
/daar_library/venv/
/daar_library/.env
/daar_library/.env.*
/daar_library/.vscode/
/daar_library/.idea/
/daar_library/.ropeproject/
/daar_library/libraryBooks
/daar_library/graph_books.json
/daar_library/db.sqlite3
/env
/daar_library/db.sqlite3
/draft
/Project_all
/library/__pycache__ 
/library-frontend/node_modules/
